/***********************************************
헤더
************************************************/

#header{width:100%; min-width:1150px; height:30px; text-align:center; background:URL('/img/tnb_bg.gif') repeat-x #ffffff;}
#header_in{width:1150px; height:30px; margin:0 auto; position:relative;}

#tnb{border-left:1px solid #e6e6e6; padding:0px; width:100%; height:30px; overflow:hidden; text-decoration: none;}
#tnb li.btn_l{float:left; border-right:1px solid #e6e6e6;}
#tnb li.btn_r{float:right; border-left:1px solid #e6e6e6;}

#tnb li a{display:block; float:left; height:30px; line-height:30px; padding:0 20px;}
#tnb li a b{font-family:dotum; font-size:11px; font-weight:normal; letter-spacing:-0.1em; color:#666666}
#tnb li a:link b,
#tnb li a:visitied b{color:#999;}
#tnb li a:hover b{color:#333;}

#tnb li.leftmenu a:link{color:#666666;text-decoration: none;cursor: pointer;}
#tnb li:hover.leftmenu a{color:#ff0000;text-decoration: none;cursor: pointer;}
#tnb li.leftmenu a b u{text-decoration:none; color:#ff9900; font-size:12px;}

#tnb li.btn_r a{border-right:1px solid #e6e6e6; color:#666;text-decoration: none;cursor: pointer; font-family:dotum; font-size:11px; font-weight:normal; letter-spacing:-0.1em; color:#666666}
#tnb li:hover.btn_r a{color:#ff00006;text-decoration: none;cursor: pointer; font-family:dotum; font-size:11px; font-weight:normal; letter-spacing:-0.1em; color:#666666}
